* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html,
body {
    height: 100%;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.clear {
    clear: both;
}



header .logo {
    font-size: 30px;
    float: left;
    top: -40px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    color: white;
}


header {
    width: 100%;
    height: 90vh;
    min-height: 800px;
    /*max-height: 700px;*/
    padding: 40px 2%;
    /* esse codigo pega o nav */
    background-image: url('../imagens/capa.png');
    background-size: cover;
    background-position: center;
    font-weight: 300;
}

header nav {
    float: right;
}

nav.mobile-menu {

    cursor: pointer;
    display: none;
    /*esconde o mobile*/
    width: 32px;
    height: 32px;
    background-image: url('../imagens/menu1.png');
    background-size: 100% 100%;
}

nav.mobile-menu:hover ul {
    /*display: block; /*faz aparecer o menu mobile*/
    opacity: 1;
}

nav.mobile-menu ul {
    opacity: 0;
    transition: 1s;
    background-color: white;
    position: absolute;
    width: 100%;
    left: 0;
    top: 80px;
    list-style-type: none;
    text-align: center;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

nav.mobile-menu ul li {
    padding: 8px 0;
    transition: 0.4s;
    border-bottom: 1px solid black;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

nav.mobile-menu ul li:hover {
    background-color: rgb(230, 230, 230);
    /*as uls muda de cor*/
}

nav.mobile-menu ul li a {
    color: black;
    text-decoration: none;
}

header nav.desktop-menu ul {
    list-style-type: none;
}

header nav.desktop-menu li {
    float: left;
    padding: 5px 20px;
}

header nav.desktop-menu li a {
    text-decoration: none;
    color: white;

}

#sevicos {
    transition: 6s;
}

.chamada1 {
    max-width: 600px;
    float: right;
    margin: 140px 150px;
}


.chamada1 h2 {
    font-size: 40px;
    color: white;
    font-weight: 300;
}

.chamada1 p {
    max-width: 550px;
    font-size: 16px;
    color: white;
    margin-top: 10px;
}

section.sessao1 {
    width: 100%;
    background-color: #320752;
    padding: 0 2%;
    height: 400px;
}

section.sessao1 .container {
    max-width: 1000px;
    height: calc(100% + 30px);

}

.texto-sessao1 {
    width: 50%;
    margin-top: 60px;
    left: 55px;
    position: relative;
    padding-left: 80px;
    float: left;
    color: white;

}

.texto-sessao1 h2 {
    font-size: 26px;
    font-weight: 300;
}

.texto-sessao1 p {
    margin-top: 20px;
    font-size: 15px;

}

.texto-sessao1 ul {
    font-size: 15px;
    list-style-position: outside;
    padding-left: 15px;
}

.texto-sessao1 ul li {
    width: 100%;
    margin-top: 8px;
}

.btn1-texto {
    background-color: #ff703d;
    width: 165px;
    height: 44px;
    font-size: 13px;
    color: white;
    cursor: pointer;
    margin-top: 16px;
    text-align: center;
    line-height: 43px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.device-sessao1 {
    float: left;
    width: 50%;
    height: 100%;
    top: -30px;
    position: relative;
    background-image: url('../imagens/device.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 430px;
}

/*abertura /sessão2*/
.sessao2 {
    padding-left: 2%;
    padding-right: 2%;
    background-color: white;
    text-align: center;
}

.sessao2 h2 {
    color: #4B0082;
    font-weight: 300;
}

.sessao2 p {
    margin-top: 30px;
    max-width: 900px;
    display: inline-block;
}

.sessao2 .container {
    max-width: 1000px;

}

.sessao2 img {
    position: relative;
    top: 70px;
    width: 100%;
    margin-top: 10px;


}

.sessao3 {
    width: 100%;

}

.parte1 {
    color: white;
    float: left;
    width: 50%;
    padding: 140px 0 90px 0;
    background: #835fa7;
}

.wraper-parte1 {
    max-width: 700px;
    float: right;
    padding: 0 100px;
}


.parte1 h2 {
    font-weight: bold;
    font-style: italic;
    font: 23px;

}

.parte1 p {
    font-size: 15px;
    line-height: 3;
    margin-top: 10px;
}

.parte2 {
    float: left;
    width: 50%;
    padding: 140px 5% 90px 0;
    background: white;

}

.sobre-autor {
    float: left;
    max-width: 600px;
    padding-left: 30px;

}

.titulo-autor {
    float: left;
    width: 100%;
    /*ocupa 100% da tela*/

}

.titulo-autor h2 {
    color: #232323;
    font-weight: 400;
    font-size: 21px;
    padding-right: 10px;
}

.titulo-autor p {
    font-size: 13px;
    color: #232323;
    font-style: italic;
    font-weight: 300;
}

.titulo-autor .img-autor {
    float: left;
    width: 40px;
    height: 40px;
    background-image: url(../imagens/ricardo.jpg);
    background-size: 100% 100%;
    border-radius: 20px;
    background-color: transparent;
}

.wraper-titulo-autor {
    float: left;
}

.texto-autor {
    float: left;
    width: 100%;
    margin-top: 10px;
}

.texto-autor p {
    color: #232323;
    font-size: 15px;

}

.slider-bullets {
    width: 100%;
    float: left;
    padding-left: 30px;
    margin-top: 12px;
}




.slider-bullets span {
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 8px;
    border-radius: 8px;
    background-color: gray;
    cursor: pointer;
}

/*aqui começa a sessão 4*/
section.sessao4 {
    background-color: #472563;
    padding: 100px 0;
}


.form {
    float: left;
    width: 50%;
    color: white;
    padding-left: 10px;
}

.form h2 {

    font-size: 23px;
    font-weight: 300;
}

.form p {
    font-size: 15px;
    font-weight: 300;
    max-width: 400px;
    padding-right: 10px;
}

.form form {
    margin-top: 15px;
}



.form form input[type=text] {
    width: 90%;
    max-width: 480px;
    margin-top: 8px;
    height: 58px;
    padding-left: 8px;
    line-height: 58px;
    border: 1px solid rgb(200, 200, 200);
}

.form form textarea {
    width: 90%;
    margin-top: 8px;
    max-width: 480px;
    padding: 15px;
    border: 1px solid rgb(200, 200, 200);
    height: 160px;

}

.form form input[type=submit] {
    background-color: #ff703d;
    border: 0;
    width: 165px;
    height: 44px;
    font-size: 13px;
    color: white;
    cursor: pointer;
    margin-top: 15px;
    border-radius: 30px;
    /*font-family: sans-serif;*/
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.map-wraper {
    float: left;
    width: 50%;
    padding: 0 10px;
    color: white;

}

.map-wraper h2 {
    font-size: 23px;
    font-weight: 300;
}

.map-wraper3 {
    margin-top: 10px;
    width: 100%;
    max-width: 480px;
    position: relative;
}


.map-wraper2 {
    position: absolute;
    left: 0;
    top: 0;
    width: 85%;
    padding-top: 85%;
    background-color: white;
    border: 4px solid #ccc;

}

.map {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

}

.map iframe {
    width: 100%;
    height: 100%;
}



/*fim da sessão 4*/

footer {
    padding: 40px 2%;
    color: white;
    background-color: #192123;


}

footer p:nth-of-type(1) {
    float: left;
    font-size: 14px;
}

footer p:nth-of-type(2) {
    float: right;
    font-size: 14px;
}



@media screen and (max-width:768px) {

    header {
        width: 100%;
        height: auto;
        min-height: 90vh;
        padding: 40px 2%;
        /* esse codigo pega o nav */
    }


    nav.desktop-menu {
        display: none;
        /*esconde o desktop*/
    }

    nav.mobile-menu {
        display: block;
        /*mostra o mobile*/
    }

    .chamada1 {
        max-width: none;
        width: 100%;
        text-align: center;
        float: none;
        margin: 100px 2%;
    }


    .chamada1 h2 {
        font-size: 30px;
        padding: 0 0px;
        color: white;
        font-weight: normal;
        font-weight: 300;
    }




    section.sessao1 {
        padding: 40px 2%;
        height: auto;
        text-align: center;
    }

    .texto-sessao1 {
        width: 100%;
        margin-top: 0;
        padding-left: 0;
        position: static;
        float: none;
        display: inline-block;
    }

    .texto-sessao1 ul {
        display: inline-block;
        margin-top: 20px;
    }

    .texto-sessao1 ul li {
        float: none;
        text-align: left;
    }

    .btn1-texto {
        display: inline-block;
    }

    .device-sessao1 {
        display: none;
    }

    .sessao2 {
        padding: 40px 2%;
    }

    section.sessao4 .container {
        text-align: center;
    }

    .form {
        float: none;
        width: 100%;
    }

    .form p {
        display: inline-block;
        float: none;
    }


    .map-wraper {
        margin-top: 40px;
        float: none;
        width: 100%;
        padding: 0 4%;
    }

    .map-wraper3 {
        margin-top: 10px;
        width: 80%;
        padding-top: 80%;
        display: inline-block;
        max-width: none;
        position: relative;
    }

    .map-wraper2 {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        padding-top: 0;
        background-color: white;
        border: 4px solid #ccc;

    }

    .map {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }


}

@media screen and (max-width: 580px) {
    .btn1-texto {

        line-height: 33px;

    }

    .parte1 {
        width: 100%;
        padding: 30px 0;

    }
    
    .parte1 p {
     font-size: 0.9375em;
     line-height: 1.4;
     width: 200px;
    }


    .parte2 {
        width: 100%;
        padding: 40px 0;
    }

    .sessao2 img {
        top: 16px;
        margin-top: 20px;

    }

    footer {
        text-align: center;


    }

    footer p:nth-of-type(1) {
        float: none;

    }

    footer p:nth-of-type(2) {
        float: none;
        margin-top: 8px;

    }


}
